<div style="color:white; font-size: 2.5rem; font-family: 'Courier New', Courier, monospace; text-decoration: underline ;">
    <p style="text-align: center;">Advanced</p>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" style="float: left;">
            <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: outset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px white; ">
                <a [routerLink]="['/test']"><img class="img" src="../../assets/images/mean/basic.jpg" style="border-radius: 50%; margin: 13px;" width="230px;" height="230px;"></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12" style="float: left;">
            <div class="outer" style="border-radius: 50%; height:260px; width: 260px; border: 3px solid rgb(17, 21, 71); box-shadow: inset 0 0 0 12px transparent; box-shadow: 0 0 10px 5px    white; ">
                <a [routerLink]="['/add']"><img class="img" src="../../assets/images/mean/Fullstack-new-347x205.jpg " style="border-radius: 50%; margin: 13px; " width="230px; " height="230px; "> </a>
            </div>
        </div>
    </div>
</div>
<br>
<br>


