
 <br>
 <br>
   <div class="name col-lg-8 col-md-8 col-sm-6 offset-lg-3 offset-md-2 offset-sm-4">
     <h2 class="head">Questions & Answer</h2>
   </div>
       <br>
       <br>
       <br>

     <div class="jumbotron jumbotron-fluid col-lg-8 col-md-6 col-sm-4 offset-lg-3 offset-md-2 offset-sm-4">
       <div class="container">
      
         <div class="add" style="text-align: center; ">
           <h6 class="good">Adding Content</h6>
             <hr class="help">
         </div>

         <form>
           <div class="form-group col-lg-10 col-md-6 col-sm-4 offset-lg-1 offset-md-2 offset-sm-3">
             <label for="exampleFormControlTextarea1">ENTER  QUESTIONS</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Enter Questions"></textarea>
           </div>
             <br>
           <div class="form-group col-lg-10 col-md-6 col-sm-4 offset-lg-1 offset-md-2 offset-sm-3">
             <label for="exampleFormControlTextarea1">ENTER  ANSWERS</label>
             <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Enter Answers"></textarea>
           </div>
             <br>
             <div class="align offset-lg-5 offset-md-6 offset-sm-5">
                 <button type="submit" class="btn btn-secondary">ADD</button>
             </div>
         </form>

       </div>
     </div>


   <br>
   <br>
     <table class="table table-bordered bg-white col-lg-8 col-md-6 col-sm-4 offset-lg-3 offset-md-2 offset-sm-4">
       <thead>
         <tr>
           <th scope="col">ID.</th>
           <th scope="col">QUESTION</th>
           <th scope="col">ANSWER</th>
           <th scope="col">UPDATE</th>
           <th scope="col">DELETE</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <th scope="row"></th>
           <td>Q1:</td>
           <td>A:</td>
           <td><button type="submit" class="btn btn-success">UPDATE</button></td>
           <td><button type="submit" class="btn btn-danger">DELETE</button></td>
         </tr>
         <tr>
           <th scope="row"></th>
           <td>Q2:</td>
           <td>A:</td>
           <td><button type="submit" class="btn btn-success">UPDATE</button></td>
           <td><button type="submit" class="btn btn-danger">DELETE</button></td>
         </tr>
         <tr>
           <th scope="row"></th>
           <td>Q3:</td>
           <td>A:</td>
           <td><button type="submit" class="btn btn-success">UPDATE</button></td>
           <td><button type="submit" class="btn btn-danger">DELETE</button></td>
         </tr>
       </tbody>
     </table>