<div style="color:white; font-size: 2.5rem; font-family: 'Courier New', Courier; text-decoration: underline ;">
    <p style="text-align: center;">Add</p>
</div>
<br>
<br>
<!-- add operation -->
<div class="offset-lg-2 offset-md-2 offset-sm-2 col-lg-8 col-md-12 col-sm-12" style="background-color: white;">
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Add Content</h5>
</div>    
<div class="modal-body">
    <div>
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control"  name="title"  placeholder="Enter your Title">
            </div>
            <div class="form-group">
                <label>Sub Title</label>
                <input type="text" class="form-control"  name="subtitle" placeholder="Enter your Sub Title">
            </div>
            <div class="form-group">
                <label>Content</label>
                <textarea class="form-control"  name="content" placeholder="Enter your Content" style="resize: none;"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" >Submit</button>
        </form>
    </div>
</div>
</div> 
<br>
<br>
<br>

<!-- display with delete and update -->
<div  class="offset-lg-2 offset-md-2 offset-sm-2 col-lg-8 col-md-12 col-sm-12" style="background-color: white;">
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Title</th>
            <th scope="col">Sub Title</th>
            <th scope="col">Content</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="submit" >Update</button></td>
            <td><button type="submit" >Delete</button></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button type="submit" >Update</button></td>
            <td><button type="submit" >Delete</button></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button type="submit" >Update</button></td>
            <td><button type="submit" >Delete</button></td>
        </tr>
    </tbody>
        
</table>

</div>