
    <div style="color:white; font-size: 2.5rem; font-family: 'Courier New', Courier; text-decoration: underline ;">
        <p style="text-align: center;">Test Questionnaire</p>
    </div>

        <div class="card col-lg-8 col-md-10 col-sm-6 offset-lg-2 offset-md-2 offset-sm-2">
                <form>
                        <div class="area row">

                          <h2 class="swift col-12">Input Question:</h2>
                          <div class="col-12"> 
                              <br>
                              <br>
                            <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control" style="resize: none"></textarea>
                          </div>
                        </div>
                        <div class="area row">
                          <div class="col-8"></div> 
                          <div class="case col-10">
                                <h2 class="swift ">Options:</h2>
                            
                              <label class="col-10"></label> 
    <div class="col-lg-6 col-md-10 col-sm-10">
      <input id="text" name="text" type="text" class="form-control">
    </div>                    

    <label class="col-10"></label> 
            
                              <div class="col-lg-6 col-md-10 col-sm-10">
                                    <input id="text" name="text" type="text" class="form-control">
                                  </div>
                          
                           
                              <label class="col-10"></label> 
                              <div class="col-lg-6 col-md-10 col-sm-10">
                                    <input id="text" name="text" type="text" class="form-control">
                                  </div>
                            
                           
                              <label class="col-10"></label> 
                              <div class="col-lg-6 col-md-10 col-sm-10">
                                    <input id="text" name="text" type="text" class="form-control">
                                  </div>
                            
                        </div>
                        </div> 
                        <div class="col-lg-8">
                            <button name="add" type="add" class="btn btn-success">Add</button>
                          
                        </div>
                      </form>
              </div>

         <br> 
         <br>
     
         <!-- display with delete and update -->
 <div class="offset-lg-2 offset-md-2 offset-sm-2 col-lg-8 col-md-12 col-sm-12" style="background-color: #212F3D;">
                <table class="table table-bordered" style="color: white;">
                <thead>
                    <tr >
                        <th scope="col">ID_</th>
                        <th scope="col">Question</th>
                        <th scope="col">Option</th>
                        <th scope="col">Option</th>
                        <th scope="col">Option</th>
                        <th scope="col">Option</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <th scope="row">1</th>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td><button type="submit" >Update</button></td>
                            <td><button type="submit" >Delete</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td><button type="submit" >Update</button></td>
                            <td><button type="submit" >Delete</button></td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td>****</td>
                            <td><button type="submit" >Update</button></td>
                            <td><button type="submit" >Delete</button></td>
                          </tr>
                        
                </tbody>
               
                </table>




              
    
