.box{
    background-color:darkgrey;
   /* margin:10px */
}
/* //////////////////////////////table of data////////////////////////////////////////////// */
.table{
    border: 1px solid darkgrey;
    background-color: lightgray

  
}