.card-title {
    font-size: 2em;
    color: white;
}

#card1 {
    background: linear-gradient(135deg, #23bdb8 0, #43e794 100%) !important;
    color: white;
    border-image: linear-gradient(135deg, #23bdb8 0, #43e794 100%) !important;
}

#card2 {
    background: linear-gradient(135deg, #9a56ff 0, #e36cd9 100%) !important;
    color: white;
    border-image: linear-gradient(135deg, #9a56ff 0, #e36cd9 100%) !important;
}

#card3 {
    background: linear-gradient(135deg, #f48665 0, #fda23f 100%) !important;
    color: white;
    border-image: linear-gradient(135deg, #f48665 0, #fda23f 100%) !important;
}

#card4 {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: white;
    border-image: linear-gradient(135deg, #289cf5, #84c0ec) !important;
}

#card5 {
    background: linear-gradient(135deg, #aa2a2a, #a55e5e) !important;
    color: white;
    border-image: linear-gradient(135deg, #289cf5, #84c0ec) !important;
}

#card6 {
    background: linear-gradient(135deg, #2b0692, #302a86) !important;
    color: white;
    border-image: linear-gradient(135deg, #289cf5, #84c0ec) !important;
}


/* ---------------- */

#card1:hover,
#card2:hover,
#card3:hover,
#card4:hover,
#card5:hover,
#card6:hover {
    box-shadow: 2px 2px 2px 2px #ffffff;
}


/* ---------------- */


/*  */

.pie {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid 22px transparent;
    border-left-color: #1cc88a;
    border-right-color: #6610f2;
    border-top-color: #5b668a;
    border-bottom-color: #6610f2;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-size: 100% 100%, 100% 50%;
    background-position: center center, center bottom;
    background-repeat: no-repeat;
}

body {
    background-color: yellow;
}

.text {
    color: white;
}