<div class="container col-lg-10 offset-lg-2 col-md-10 offset-1 col-sm-8 offset-sm-4">
    <div class="row">
        <div id="card1" class="card mb-3 col-lg-3 offset-lg-2 col-md-12 offset-md-2 col-sm-12 offset-sm-2" style="background: linear-gradient(135deg, #23bdb8 0, #43e794 100%) !important; max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Visitors</div>
            <div class="card-body text-primary">
                <h5 class="card-title"><i class="far fa-eye"></i> 1000</h5>
                <p class="card-text" style="color: white;">18% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card2" class="card mb-3 col-lg-3" style="max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">User Login</div>
            <div class="card-body text-secondary">
                <h5 class="card-title"> <i class="fas fa-user-tie"></i> 880</h5>
                <p class="card-text" style="color: white;">19% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card3" class="card mb-3 col-lg-3" style="max-width: 18rem; float: left; margin: 2%;">
            <div style="font-size: 220%;">Total User</div>
            <div class="card-body text-success">
                <h5 class="card-title"><i class="fas fa-users"></i> 1500</h5>
                <p class="card-text" style="color: white;">15% Higher Then Last Month</p>
            </div>
        </div>
        <div id="card4" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Active Users</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-smile"></i> 2000</h5>
                <p class="card-text" style="color: white;">30% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card5" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Loss</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="far fa-frown"></i> $1,00,000</h5>
                <p class="card-text" style="color: white;">10% Higher Then Last Month</p>
            </div>
        </div>

        <div id="card6" class="card mb-3 col-lg-3" style="max-width: 18rem;  margin: 2%;">
            <div style="font-size: 250%;">Profit</div>
            <div class="card-body text-danger">
                <h5 class="card-title"><i class="fas fa-money-check-alt"></i> $20,000</h5>
                <p class="card-text" style="color: white;">30% Higher Then Last Month</p>
            </div>
        </div>
    </div>
</div>
<br>
<!-- Pie Chart -->
<div class="container-fluid col-lg-3 offset-lg-2 col-md-10 offset-1 col-sm-8 offset-sm-4" style="float: left;">
    <div class="row">
        <div id="card" class="card mb-3 col-lg-12 offset-lg-1" style="float: left; background-image: linear-gradient(to right top, #030332, #010b38, #00113f, #001546, #00194d, #00194c, #00184c, #00184b, #001442, #000f39, #010831, #000029); max-width: 18rem; float: left; margin: 2%; box-shadow: 5px 10px 8px 10px #020125">
            <div style="font-size: 250%; color: white">Profile Ratio</div>
            <div class="pie offset-lg-1">
                <div class="offset-lg-2" style="margin-top: 20%;">
                    <ul>
                        <li style="font-size: 200%; color: #5b668a;">Visitor</li>
                        <li style="font-size: 200%; color: #6610f2;">Profit</li>
                        <li style="font-size: 200%; color: #1cc88a;">User</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- Image -->
<div class="container col-lg-3 offset-lg-6">
    <div class="row">
        <img src="../../assets/images/graph1.jpg" width="180%;" height="400px;">
    </div>
</div>

<br>
<br>

<!-- table -->
<br>
<br>
<div class="container col-lg-10 col-md-10 col-sm-10 offset-lg-1 offset-md-1 offset-sm-1">
    <p style="color: white; font-size:3em; text-decoration: underline; ">User Record</p>
    <div class="row">
        <table class="table" style="box-shadow: 10px 10px 8px 10px #020125; background-image: linear-gradient(to right top, #030332, #010b38, #00113f, #001546, #00194d, #00194c, #00184c, #00184b, #001442, #000f39, #010831, #000029);">
            <thead class="thead-dark ">
                <tr>
                    <th class="text ">Profile</th>
                    <th class="text ">Id</th>
                    <th class="text ">Name</th>
                    <th class="text ">Email </th>
                    <th class="text ">Course</th>
                    <th class="text ">Achievement</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                    <td class="text ">001</td>
                    <td class="text ">Ashish Sharma</td>
                    <td class="text ">ashishsharma@1245gmail.com </td>
                    <td class="text ">
                        <li>Python</li>
                        <li>Mean Stack</li>
                    </td>
                    <td class="text ">Advance Pro</td>
                </tr>

                <tr>
                    <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                    <td class="text ">002</td>
                    <td class="text ">Bhanu Gudheniya </td>
                    <td class="text ">bhanugudheniya1409@gmail.com</td>
                    <td class="text ">
                        <li>Artificial Intelligence</li>
                        <li>Full Stack</li>
                        <li>Cyber Security</li>
                    </td>
                    <td class="text ">Advance Pro</td>
                </tr>

                <tr>
                    <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                    <td class="text ">003</td>
                    <td class="text ">Shilpi Tyagi</td>
                    <td class="text ">shilpityagi0011@gmail.com</td>
                    <td class="text ">
                        <li>Java</li>
                        <li>Cyber Security</li>
                    </td>
                    <td class="text ">Advance Pro</td>
                </tr>

                <tr>
                    <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                    <td class="text ">004</td>
                    <td class="text ">Garima</td>
                    <td class="text ">garimasharma2589@gmail.com</td>
                    <td class="text ">
                        <li>Mean Stack</li>
                        <li>React Native</li>
                    </td>
                    <td class="text ">Advance Pro</td>
                </tr>

                <tr>
                    <td><img src="../../assets/images/images.jpg " width="50px; " height="50px; " style="border-radius: 50px; "></td>
                    <td class="text ">005</td>
                    <td class="text ">Muskaan Lagwal</td>
                    <td class="text ">muskaanlagwal123@gmail.com</td>
                    <td class="text ">
                        <li>Advance Java</li>
                        <li>Android</li>
                    </td>
                    <td class="text ">Advance Pro</td>
                </tr>
                <tbody>
        </table>
    </div>
</div>

<br>
<br>
<br>